<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Deleted</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_two.css') }}">
</head>
<body>
    <h1>Account Deleted</h1>
    <p>The following account has been successfully deleted:</p>
    <h2>{{ user.username }}</h2>
    <div class="image">
         <img src="https://webstockreview.net/images/pe-clipart-exercise-physiology-11.png"
              style="width: 50vh; max-height: 100vh;" alt="{{ user.username }}">
    </div>
    <div class="text">
          <p>Usertype: {{ user.usertype }}</p>
          <p>Username: {{ user.username}}</p>
          <p>Email: {{ user.emailAddress }}</p>
          <p>PhoneNumber: {{ user.phoneNumber }}</p>
    </div>
    <a href="/home" class="btn">Go back to Home</a>
</body>
</html>
