<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tour Deleted</title>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>
    <h1>Tour Deleted</h1>
    <p>The following tour has been successfully deleted:</p>
    <h2>{{ tour.title }}</h2>
    <div class="image">
        <img src="{{ tour.pictureURL }}" style="width: 100vh; max-height: 50vh;" alt="{{ tour.title }}">
    </div>
    <div class="text">
        <p>Date: {{ tour.date }}</p>
        <p>Destination: {{ tour.destination }}</p>
        <p>Duration: {{ tour.duration }}</p>
        <p>Cost: {{ tour.cost }}</p>
        <p>Max travelers: {{ tour.max_travelers }}</p>
        <p>Language: {{ tour.language }}</p>
    </div>
    <a href="/home" class="btn">Go back to Home</a>
</body>
</html>
