<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general_style.css') }}">
</head>
<body>
    <header class="header">
        <div class="left-section">
            <h1 class="yourtour">Your Guide</h1>
            <form action="/search" method="get" class="search-bar">
                <input type="text" name="q" placeholder="Search">
                <button type="submit">Search</button>
            </form>
             <form action="/new_tour" method="get">
                <button type="submit">New Tour</button>
            </form>
        </div>
        <button class="filter-button button-placement">filter menu</button>
        <div class="right-section">
            <nav class="dropdown-menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                </svg>
                <div class="hidden-menu">
                    <a href="/profile">Profile</a>
                    <a href="/user_tours" class="your-tours-button">My tours</a>
                    <a href="/guide_tours" class="your-tours-button">Published tours</a>
                </div>
            </nav>
        </div>
    </header>
    <form action="/home/filter" method="post">
        <div class="filter-menu">
            <ul>
                <li>Destination: <input type="text" id="destination-input" name="destination"></li>
                <li>Price Range: <input type="number" id="min-price-input" name="min_price" placeholder="Min"> - <input type="number" id="max-price-input" name="max_price" placeholder="Max"></li>
                <li>Language: <input type="text" id="language-input" name="language"></li>
            </ul>
            <input type="submit" value="Filter">
        </div>
    </form>
    <h1>Welcome, choose your adventure or give others many adventures</h1>
    <main>
        {% for tour in tours %}
        <div class="tour">
            <h2>{{ tour.title }}</h2>
            <div class="image">
                <img src="{{ tour.pictureURL }}" style="width: 100vh; max-height: 50vh;" alt="{{ tour.title }}">
            </div>
            <div class="text">
                <p>Date: {{ tour.date }}</p>
                <p>Destination: {{ tour.destination }}</p>
                <p>Duration: {{ tour.duration }}</p>
                <p>Cost: {{ tour.cost }}</p>
                <p>Max travelers: {{ tour.max_travelers }}</p>
                <p>Language: {{ tour.language }}</p>
            </div>
            <form action="/register_for_tour" method="post">
                <input type="hidden" name="tour_id" value="{{ tour.id }}">
                <button type="submit">Join the tour</button>
            </form>
        </div>
        {% endfor %}
    </main>
    <footer>
        <p>&copy; Copyright Gruppe 18</p>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const filterButton = document.querySelector(".filter-button");
            const filterMenu = document.querySelector(".filter-menu");

            filterButton.addEventListener("click", function () {
                if (filterMenu.style.display === "none" || filterMenu.style.display === "") {
                    filterMenu.style.display = "block";
                } else {
                    filterMenu.style.display = "none";
                }
            });
        });
    </script>

</body>
</html>
