<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_two.css') }}">
</head>
<body>
<form method="POST" action="{{url_for('new_tour')}}">
    <input type="text" name="title" placeholder="title" required>
    <input type="text" name="date" placeholder="yy, mm, dd" required>
    <input type="text" name="destination" placeholder="destination" required>
    <input type="text" name="duration" placeholder="duration" required>
    <input type="text" name="cost" placeholder="cost" required>
    <input type="text" name="max_travelers" placeholder="max travlers" required>
    <input type="text" name="language" placeholder="language" required>
    <input type="text" name="pictureURL" placeholder="pictureURL" required>
    <input type="submit" value="Post">
</form>

</body>
</html>