<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_two.css') }}">
</head>
<body>
<header>
<h1>Profile</h1>
</header>

<main class="container">
     <h1>Account Information </h1>

    <div class="profile-icon-name-email">
        <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
    </div>

    <div class="value-elements">
        <form class="data-user" action="/update_user_info" method="post">
        <label class="style-for-label">Username</label>
        <input type="text" name="username" value="{{ user_data.username }}" id="hidden-input">

        <label class="style-for-label">Mobile Number</label>
        <input type="text" name="phoneNumber" value="{{ user_data.phoneNumber }}" required id="hidden-input">

        <label class="style-for-label">Email ID</label>
        <input type="text" name="email" value="{{ user_data.emailAddress }}" required id="hidden-input">

        <button type="submit" class="btn"> Update info </button>
        </form>

         <form class="delete account" action="/delete_user" method="post">
        <button type="submit" class="btn"> Delete account </button>
        </form>

    </div>
</main>
<footer>
    <p>Gruppe 18</p>
</footer>

</body>
</html>