<!DOCTYPE html>
<html lang="en">
<style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            background-image: url('https://images.pexels.com/photos/326119/pexels-photo-326119.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
</style>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

</body>
</html>