<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Tours</title>
</head>
<body>
    <h1>Your Registered Tours</h1>
    <main>
        {% for tour in user_tours %}
            <div class="{{ tour.id }}">
                <h2>{{tour.title }}</h2>
                <div class="image">
                    <img src="{{ tour.pictureURL }}" style="max-height: 50vh;" alt="{{ tour.title }}">
                </div>
                <div class="text">
                    <p> Date: {{ tour.date }}</p>
                    <p> Destination: {{ tour.destination }}</p>
                    <p> Duration: {{ tour.duration }}</p>
                    <p> Cost: {{ tour.cost }}</p>
                    <p> Max travelers: {{ tour.max_travelers}}</p>
                    <p> Language: {{ tour.language}}</p>
                </div>
                   <form action="/cancel_tour" method="post">
                     <input type="hidden" name="tour_id" value="{{ tour.id }}">
                       <button type="submit">Cancel tour</button>
                   </form>
            </div>
        {% endfor %}
    </main>
</body>
</html>

